body {
    background-color: burlywood;
}

main {
    text-align: center;
}

#list {
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 5px;
    height: 200px;
    width: 200px;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 10px;
}


#list img {
    height: 100%;
    width: 100%;
    transition: transform 400ms ease-out;
}

#list img:hover {
    transform: scale(1.15);
}

.hidden {
    display: none;
}